.card {
    /* border: 1px solid red; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(22, 135, 150);
    background-color: #383138;
    background-color: #92767a;
    background-color: #6b5c61;
    background-color: #84552c;
    background-color: #ab7f7c;
    background-image: conic-gradient(from 90deg at 10% 99%, #3e92e1, #2b98f1, #2a4a94, #070c4f, #2897ff);
    /* background-image: conic-gradient( from 90deg at top left, #383138,#8c7578,#5f4f55,#5f3c1d,#814b47);  */
    /* background-image: conic-gradient( from 90deg at 10% 99%, #383138,#8c7578,#5f4f55,#5f3c1d,#814b47);  */
    background-attachment: fixed;
    color: white;

}


.card .content {
    /* border: 1px solid rgb(0, 0, 0); */
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
}

.card .time {
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1.2rem;
}

.card .content .temperature {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card .content .temperature .temp {
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card .content .others {
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.wind{
    /* border: 1px solid red; */
}

.desc{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.desc .i{
    /* border: 1px solid red; */
    width: 100px;
    height: 100%;
}

.i img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);
}