header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky;
    z-index: 99;
    top: 0;
}
nav{
    /* border: 1px solid red; */
    width: 70%;
    padding: 10px 30px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(49, 49, 49, 0.432);
    color: white;
    backdrop-filter: blur(10px);
    
}

nav h1{
    background-image: conic-gradient(from 90deg at 10% 99%, #3e92e1, #2b98f1, #2a4a94, #16209e, #0066c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.logo{
    /* border: 1px solid red; */
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    
}

img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:576px) {
    nav{
        width: 100%;
    }
}