.selectCard {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px
}

select {
    height: 30px;
    width: 250px;
    font-size: 1rem;
    border-radius: 15px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.575);
}



option {
    background-color: rgba(0, 0, 0, 0.945);
    color: white;

}

option:checked {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.selectBox {
    display: flex;
    justify-content: center;

}