/* @import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
  --ff: "Cinzel";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}


body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url("https://img.freepik.com/free-photo/storm-sea-with-sun-appearing-clouds_1150-18316.jpg") no-repeat center/cover;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.3;
}

body {
  min-height: 100vh;       /* body takes full viewport height at least */
  font-family: var(--ff), serif;
  color: white;
  overflow-x: hidden;      /* prevent horizontal overflow */
  overflow-y: auto;        /* allow vertical scroll naturally */
  /* background: url("https://img.freepik.com/free-photo/storm-sea-with-sun-appearing-clouds_1150-18316.jpg") no-repeat center/cover; */
  background-color: black;
  padding: 30px;
  
  
}