.mapWrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

/* Select */
.selectBox1 {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.selectBox1 label {
  font-weight: 600;
  font-size: 14px;
}

.selectBox1 select {
  /* padding: 10px 14px; */
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover + focus */
.selectBox1 select:hover,
.selectBox11 select:focus {
  border-color: #007bff;
}

/* Map */
.mapContainer {
  height: 420px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;

  /* modern shadow */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

/* Cards */
.weatherCards {
  display: flex;
  gap: 14px;
  margin-top: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

/* Scrollbar styling */
.weatherCards::-webkit-scrollbar {
  height: 6px;
}

.weatherCards::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Card */
.card {
  min-width: 150px;
  padding: 14px;
  border-radius: 12px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

/* Hover effect */
.card:hover {
  transform: translateY(-5px);
}

/* Time */
.card h4 {
  font-size: 15px;
  margin-bottom: 6px;
}

/* Text */
.card p {
  font-size: 13px;
  margin: 3px 0;
}

/* Empty */
.noData {
  text-align: center;
  color: gray;
  margin-top: 10px;
}